{% extends 'HelloMusicApp/base.html' %}

{% load static %}

{% block title %}Folder - Hello Music{% endblock %}

{% block content %}
<!-- Folder Name and Music Sheets Grid -->
<h3 class="text-white mb-4">{{ folder.name }}</h3>

<div class="row">

    <!-- Add sheet to folder  -->
    <div class="col-sm-6 col-md-4 col-lg-3" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Add music sheet" id="addsheetfolder">
        <div class="d-flex align-items-center justify-content-center  add-card ">
            <span class="add-icon">+</span>
        </div>
    </div>

    {% if folder_music_sheets %}

    {% for sheet in folder_music_sheets %}
    <div class="col-sm-6 col-md-4 col-lg-3 music-sheet-item" sheet-id="{{ sheet.ID }}">
        <div class="music-sheet-card"></div>
        <div class="text-white sheet-title">{{ sheet.title }}</div>
    </div>
    {% endfor %}

    {% else %}
    <p>No music sheets exist.</p>

    {% endif %}

</div>


<div id="context-menu" class="custom-context-menu">
    <a href="#edit" id="edit-option">Edit</a>
    <a href="#delete" id="delete-option">Delete</a>
    <a href="#remove" id="remove-option">Remove from "{{ folder.name }}"</a>
    <a href="#share" id="share-option">Share</a>
</div>

<!-- Add Sheet to Folder Model-->
<div class="modal fade" id="addsheetfolderModal" tabindex="-1" aria-labelledby="addsheetfolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="{% url 'addSheettoFolder' folder.ID %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addsheetfolderModalLabel">Add Existing Sheets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ sheetfolderform.selected_sheets.label_tag }}
                        {{ sheetfolderform.selected_sheets }}
                        <small class="form-text text-muted">
                            {{ sheetfolderform.selected_sheets.help_text|safe }}
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add to Folder</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'HelloMusicApp/partials/sheetOption.html'%}

{% endblock %}

{% block script_content %}
<script src="{% static 'HelloMusicApp/js/sheetOption.js' %}"></script>
<script>
    //open add sheet to folder model
    document.getElementById('addsheetfolder').addEventListener('click', function (event) {
        event.preventDefault();

        $('#addsheetfolderModal').modal('show');
    });


    //ensure tooltip functionality
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });

    // remove from folder
    $('#remove-option').on('click', function (event) {
        event.preventDefault();

        $.ajax({
            url: `/removeSheettoFolder/${selectedSheetId}/`,
            type: 'POST',
            success: function (data) {
                if (data.success) {
                    alert(`${selectedTitle} already removed from {{folder.name}}.`);
                    location.reload(); // Reload or update page as needed
                } else {
                    alert("Failed to remove music sheet: " + data.error);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error in AJAX request:", error);
            }
        });


        $('#context-menu').hide();
    });
</script>
{% endblock %}