{% extends 'HelloMusicApp/base.html' %}

{% load static %}

{% block title %}Folder List - Hello Music{% endblock %}

{% block content %}
<!-- Folder Grid -->
<div class="row">

    {% if sheet_folder %}

    {% for folder in sheet_folder %}
    <div class="col-sm-6 col-md-4 col-lg-3 folder-card" folder-id="{{ folder.ID }}">
        <a href="{% url 'sheetFolder' folder.ID %}" class="text-decoration-none">
            <i class="bi bi-folder folder-icon text-white" style="font-size: 5rem;"></i>
            <div class="text-white ms-2">{{ folder.name }}</div>
        </a>
    </div>
    {% endfor %}

    {% else %}
    <p>No music sheets folder exist.</p>
    {% endif %}

</div>
{% endblock %}