{% extends 'HelloMusicApp/base.html' %}

{% load static %}

{% block title %}Folder - Hello Music{% endblock %}

{% block content %}
<!-- Folder Name and Music Sheets Grid -->
<h3 class="text-white mb-4">Folder Name</h3>
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="music-sheet-card"></div>
        <div class="text-white">Music Sheet Title</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="music-sheet-card"></div>
        <div class="text-white">Music Sheet Title</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="music-sheet-card"></div>
        <div class="text-white">Music Sheet Title</div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="music-sheet-card"></div>
        <div class="text-white">Music Sheet Title</div>
    </div>
</div>
{% endblock %}