{% extends 'HelloMusicApp/base.html' %}

{% load static %}

{% block title %}Home - Hello Music{% endblock %}

{% block content %}
<!-- Music Sheets Grid -->
<div class="row">
    {% if music_sheets %}

    {% for sheet in music_sheets %}
    
    <div class="col-sm-6 col-md-4 col-lg-3 music-sheet-item" sheet-id="{{ sheet.ID }}">
        <a href="{% url 'edit_sheet' sheet_title=sheet.title %}" style="text-decoration: none;">
        <div class="music-sheet-card"></div>
            <div class="text-white sheet-title">{{ sheet.title }}</div>
        </a>
    </div>
    
    {% endfor %}

    {% else %}
    <p>No music sheets exist.</p>
    {% endif %}
</div>

<div id="context-menu" class="custom-context-menu">
    <a href="#edit" id="edit-option">Edit</a>
    <a href="#delete" id="delete-option">Delete</a>
    <a href="#share" id="share-option">Share</a>
</div>

{% include 'HelloMusicApp/partials/sheetOption.html'%}

{% endblock %}

{% block script_content %}

<script src="{% static 'HelloMusicApp/js/sheetOption.js' %}"></script>

{% endblock %}